# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Raw and processed data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Large trained model files
models/*.joblib
models/*.pkl

# Keep model folder structure
!models/.gitkeep

# System files
.DS_Store
Thumbs.db

# Secrets
.env
*.key
*.pem

# Colab and local environment
.config/
