# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Raw and processed data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Generated reports
reports/figures/*
reports/tables/*
reports/final/*

!reports/figures/.gitkeep
!reports/tables/.gitkeep
!reports/final/.gitkeep

# System files
.DS_Store
Thumbs.db

# Secrets
.env
*.key
*.pem
